body, button{
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    background-image: linear-gradient(#84B179, #A2CB8B);
    
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto 1fr;
    align-items:baseline;
    column-gap:4px;

}

.row > :first-child {
    grid-column: 2;
}



button{
    cursor: pointer;
}
.round{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    margin: left 20px;
}

h1 {
  font-family: "Chango", "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  border-bottom: 2px solid #0a8114;
  margin-top:60px;
  margin-bottom: 100px;
}

#welcome {
    font-size:2.5rem;
    margin-bottom:20px;
}

#h_level {
    font-size: 1.5rem;
    margin-bottom:20px;
    
}

#sm {
    font-size: 7rem;
    margin-bottom: 1px;
}

#per {
    font-size:7rem;
}

.percent {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#sm_plot{
    font-size:1rem;
    margin-bottom:40px;
}

#wt_box{
    font-size: 2rem;
    margin-bottom:40px;
}

#liter{
    margin-bottom:80px;
}

#am-wt {
    font-size:2rem;
}
#type_ti {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#type_smt {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.change {
    width:60%
}

#wt_amo {
    font-size: 1.5rem;
    margin-bottom: 35px;
}   

#man_wt {
    font-size: 2.5rem;
    margin-bottom: 35px;
}


#connect {
    margin-bottom:15px;
}



