body{
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    background-image: radial-gradient(circle at top left,#cfe2a2, #273824);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}




button{
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    background-color: #8cb179;
    color:#ffffff;
    border: none;
    transition: background-color 0.2s ease;

}

button:hover {
    background-color: #5b7c4b;
}

.col {
    display: flex;
    flex-direction: column;
}



.row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items:baseline;

}


.row > :first-child {
    grid-column: 2;
}

.row > :nth-child(2) {
    justify-self: start;
    margin-left: 5px;
}

.row button {
    position: relative;
    bottom: 4px; 
}

.row_c {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.25em;
    font-size:3rem;
}



button{
    border-radius: 4px;
    box-shadow: 0 0 0.3rem 0.01rem rgba(0, 0, 0, 0.1);
}

.round{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    margin: left 20px;
    background-color: #ffffff35;
    font-family: "Varela Round", sans-serif;

}



dialog {
    border: none;
    border-radius: 30px;
    padding: 25px;
    font-family: "Varela Round", sans-serif;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.4);

}

dialog button{
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: none;

}


h1 {
  font-family: "Chango", "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  margin-top:60px;
  margin-bottom: 100px;
}

div {
    color:#ffffff;
}

span {
    color: #ffffff;
}

#welcome {
    font-size:2.5rem;
    margin-bottom:20px;
    font-weight:bold
}

#h_level {
    font-size: 1.5rem;
    margin-bottom:20px;
    background-color:#76856f;
    border-radius: 30px;
    padding:20px;
    
}


#sm {
    font-size: 7rem;
    margin-bottom: 1px;
}

#per {
    font-size:7rem;
}

.percent {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#sm_plot{
    margin-bottom:40px;
}

#sm_btn{
    font-size: 2rem;
    padding: 10px;
    border-radius: 15px;

}

#wt_box{
    font-size: 2rem;
    margin-bottom:40px;
}

#liter{
    margin-bottom:80px;
}

#am_wt{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom:20px;
}

#type_ti, #type_smt, #wt_amo {
    margin-bottom:20px;
    background-color:#76856f;
    border-radius: 20px;
    padding:15px;
    padding-bottom:25px;
}

#type_ti_h, #wt_mp, #wt_amo_h {

}





#wt_mp{
    white-space: nowrap;
}


#type_ti {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#type_smt {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.change {
    width:60%
}

#wt_amo {
    font-size: 1.5rem;
    margin-bottom: 60px;
}   

#man {
    font-size: 2rem;
    font-weight: bold;   
}

#man_wt {
    font-size: 2.5rem;
    margin-bottom: 35px;

}

#mw_btn{
    padding: 20px;
    border-radius:20px;
    font-size: 1.5rem;
    margin-bottom: 60px;
}

#connect {
    margin-bottom:15px;
}



